<h1>Welcome, <%= @user.email %></h1>
<p>
  I want to inform you that new exchange (<%= @exchange.name %>) was created!
</p>
<p>
  To check this exchange, just follow this link: <a href="<%= money_url(@exchange) %>"><%= @exchange.name %></a>.
</p>
<p>Have a great day!</p>