<h1>Welcome, <%= @user.email %></h1>
<p>
  I want to inform you that new exchange (<%= @exchange.name %>) was created!
</p>
<p>
  To check this exchange, just follow this link: <%= money_url(@exchange) %>.
</p>
<p>Have a great day!</p>