-# .container.exchanges
-#   .row
-#     .col-md-12
-#       %h3.page-header 
-#         .pull-left All exchanges
-#         .pull-right
-#           %i.fa.fa-refresh 
-#   .row
-#     .col-md-12
-#       %table
-#         %tr
-#           %th ID
-#           %th Trading date
-#           %th Effective date
-#           %th 
-#         - @exchanges.each do |exchange|  
-#           %tr
-#             %td= exchange.name
-#             %td= exchange.trading_date
-#             %td= exchange.effective_date
-#             %td.pull-right= link_to "VIEW", money_path(exchange), class: 'btn btn-exchange'
-#   %h4 
-#     = link_to "Get latest exchange rates", refresh_rates_money_index_path, class: 'btn btn-default'
= react_component 'Exchanges', { exchanges: @exchanges, refresh_path: refresh_rates_money_index_path }
