%header
  .container
    .intro-text
      .intro-lead-in Welcome To Currency online!
      .intro-heading Information about money.
      %a.page-scroll.btn.btn-xl{:href => "#features"} Check the latest exchange rates
#features
  .container
    .row
      .col-lg-12.text-center.feat-head
        %h2.section-heading Features
        %h3.section-subheading.text-muted How can CurrencyOnline help you?
    .row.text-center.features_pack
      .col-md-4.col-md-1.feature
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-money.fa-stack-1x.fa-inverse
        %h4.service-heading Exchange rates
        %p.text-muted List of exchange rates with creation time
      .col-md-4.col-md-1.feature
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-eur.fa-stack-1x.fa-inverse
        %h4.service-heading Currencies
        %p.text-muted Currencies for selected exchange rate
      .col-md-4.col-md-1.feature
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-line-chart.fa-stack-1x.fa-inverse
        %h4.service-heading Reports
        %p.text-muted Generate a report for selected currency
  .container-fluid.subfooter
    .row#subscribe
      .col-md-12.text-center
        %h2.section-heading Stay in touch 
        %h3.section-subheading.text-muted Create account to recieve dailly exchange report. 
  %footer.container-fluid
    .row
      .col-md-12.text-center
        %p 
          Tomasz Panek.
          Web app for The Software House task.
          Visit also
          %a{href: 'http://panczo.github.io'}
            my site. 

