// import the CSS framework
@import "bootstrap";
@import "font-awesome";
// variables
$main_color:        #fed136;
$main_gray:         #000;
$dark_gray:         #363537;
$light_gray:        rgba(0,0,0, 0.52%);
$soft_light_gray:   #cccccc;
$darken_gray:         #202B33;

// variables for dashboard
$main-background: #3E404A;

// mixins
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle & {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

html, body {
  height: 100%;
}
body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

// override buttons
.btn-xl {
  @include button-variant(white, $main_color, $main_color);
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.btn-account {
  @include button-variant(white, $main_color, $main_color);
  font-weight: 700;
  border-radius: 0;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 40px;
  border: 0;
}

//Flash messages box
.alert {
  margin-top: 0px;
  margin-bottom: 0px;
}

// change for all input focus color 
.form-control {
  background-color: $darken_gray;
  @include transition(0.6s);
  &:focus {
    background-color: lighten($soft_light_gray, 10%);
    border-color: $main_color;
    box-shadow: 0 1px 1px rgba(254,197,3, 0.075) inset, 0 0 8px rgba(254,197,3, 0.02);
    outline: 0 none;
  }
}


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}

// Custom Navigation Bar

.navbar-custom {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  .navbar-brand {
    color: $main_color;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken($main_color, 10%);
    }  
    
  }
  .navbar-collapse {
    border-color: fade(white, 2%);
  }
  .navbar-toggle {
    background-color: $main_color;
    border-color: $main_color;
    color: white;
    font-size: 12px;
    &:hover,
    &:focus {
      background-color: $main_color;
    }  
  }
    .nav {
      li {
        a {          
          font-weight: 400;
          letter-spacing: 1px;
          color: white;
          &:hover,
          &:focus {
            color: $main_color;
            outline: none;
          }
          
        }
      }
    }
  .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: $main_color;
  }
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: white;
    background-color: darken($main_color, 10%);
  }
}

@media(min-width:768px) {
  .navbar-custom {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
  }
}

// Navbar Change on Scroll

@media(min-width:768px) {
  .navbar-custom.affix {
    background-color: $main_gray;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

header {
  background-image: image-url("currency-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; 
    }
    .intro-heading {
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}

@media(min-width:768px) {
  header {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}

// Global Section Styles

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

.section_form {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  display: block;
  color: $soft_light_gray;
}

@media(min-width:768px) {
  section {
    padding: 75px 0 150px 0;
  }
  .section_form {
    padding-top: 150px;
    margin-top: 0;
    background-color: $darken_gray;     

    .authform {
      background: $light_gray;
      border-radius: 5px;
      padding-bottom: 15px;
      @include transition(0.6s);
      &:hover {
        -webkit-box-shadow: 0px 0px 22px -5px rgba(255,204,0,1);
        -moz-box-shadow: 0px 0px 22px -5px rgba(255,204,0,1);
        box-shadow: 0px 0px 22px -5px rgba(255,204,0,1);
        
      }
    }
  }
}
// Features Section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

// Styles for dashboard navbar & left Side Bar
#dashboard {
  .container-fluid{
    height: 100%;
  }
  .navbar-default {
    background-color: $main-background; 
    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;
    
    .navbar-header {
      padding-bottom: 20px;
      padding-left: 40px;
      padding-top: 20px;
      text-transform: uppercase;
    }
    
    .navbar-brand {
      color: white;
      font-size: 2em;
      &:hover, &:focus, &:active, &.active {
        color: darken($main_color, 10%);
      }
    } 

    .navbar-right {
      margin-bottom: 20px;
      margin-right: 40px;
      margin-top: 20px;

      .btn-account {
        color: white;
        background-color: darken($main_color, 15%);
        margin-top: 5px;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase; 
        &:hover, &:focus, &:active, &.active {
          background-color: darken($main_color, 10%);
        }
      }
    }
  }
  .row {
    height: 100%;
    .navi {
      height: 100%;
      overflow: hidden;
      padding-right: 0;
      background-color: $main-background;

      .fa-minus {
        color: $main_color;
      }
      /* Side Bar */
      #sideMenu {
        height: 100%;
        width: 100%;
        padding: 30px;
        vertical-align: top;
        color: #fff;
      }
      .menu {
        list-style: none;
        margin:  24px 0;
        padding: 0;
      }
      .menu li {
        display: block;
        height: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 30px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(255, 255, 255, .6);
        position: relative;
        a {
          color: darken($soft_light_gray, 35%);
          &:hover {
            color: $main_color;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .navi {
    padding-top: 90px;
  }
}

// Styles for dashboard pages
.pages_wrapper {
  background-color: lighten($main-background, 10%);
  height: 100%;

  .page-header {
    position: relative;
    padding-bottom: 40px;
    z-index : 1;
    border: 0;
    color: white;
  
    &:before {
      content : "";
      position: absolute;
      left    : 0;
      bottom  : 0;
      height  : 2px;
      width   : 5%;
      border-bottom: 2px solid $main_color;
    }
  }
  .exchanges {
    .fa-refresh {
      margin-right: 58px;
    }

    .btn-exchange {
      border: 2px solid $main_color;
      margin-top: 0px;
      color: white;
      
      &:hover {
        background-color: darken($main_color, 15%); 
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 47px;
      
      th {
        text-align: left;
        color: darken($soft_light_gray, 35%);
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 0 10px;
        padding-bottom: 14px;
      }
      
      tr:not(:first-child) {
        padding: 20px 0;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
      
      td {
        height: 40px;
        line-height: 40px;
        font-weight: 300;
        color: white;
        padding: 10px 10px;
        margin-right: 20px;
      }
    }
    
  }
}
